<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.min.css">
    <title>Pymes</title>
</head>
<body>
    <div class="fixed-top mb-4">
        <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">PYMEs</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfil
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://190.104.30.135/?page_id=440">Informacion</a></li>
                      <li><a class="dropdown-item" href="https://www.cochabamba.bo/">Ciudad</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Solutions
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://190.104.30.135/?page_id=440">Informacion</a></li>
                      <li><a class="dropdown-item" href="https://www.cochabamba.bo/">Ciudad</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://www.univalle.edu/">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Resources
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://190.104.30.135/?page_id=440">Informacion</a></li>
                      <li><a class="dropdown-item" href="https://www.cochabamba.bo/">Ciudad</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Company
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://190.104.30.135/?page_id=440">Informacion</a></li>
                      <li><a class="dropdown-item" href="https://www.cochabamba.bo/">Ciudad</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Registrate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Iniciar Sesion</a>
                  </li>
                </ul>

                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
            </div>
        </nav>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-ml-7">
               <div class="mt-4 text-center">
                  <h2>FACTURAS</h2>
               </div>
                <div class="card card-body text-bg-white mt-4">
                  <form>
                    <div class="row justify-content-center">
                      <div class="col-4">
                        <div class="input-group">
                          <span class="input-group-text">Fecha:</span>
                          <input class="form-control" type="date" name="fecha">
                        </div>
                      </div>
                      <div class="col-4">
                        <input class="form-control" type="number" name="id_venta" placeholder="Numero de factura" [(ngModel)]="filtro.id_venta">
                      </div>
                      <div class="col-4">
                        <button type="submit" class="btn btn-outline-info text-capitalize w-50" (click)="getList()">
                          Buscar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="table-responsive-lg pt-4">
                    <table class="table caption-top table-hover">
                        <caption class="text-capitalize text-primary">Lista de registros</caption>
                        <thead class="table-info text-primary">
                            <tr>
                                <td>N# Factura</td>
                                <td>Fecha Venta</td>
                                <td>Venta Total Bs</td>
                                <td>Fecha y Hora Actualizacion</td>
                                <td>Detalle Venta</td>
                                <td>Anular Venta</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ventas">                       
                              <td>{{ item.id_venta}}</td>
                              <td>{{ item.fecha_venta }}</td>
                              <td>{{ item.total_venta }} Bs</td>
                              <td>{{ item.fecha_actualizacion }}</td>
                              <td>
                                <a class="btn btn-outline-info" >Detalle</a>                          
                              </td>
                              <td>
                                <a class="btn btn-outline-danger" (click)="onDelete(item.id_venta)" >Anular</a>  
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script> 
  </body>
</html>

