{% extends 'layout_master.html' %}
{% block body %}

<div class="row">
    <div class="col-ml-7">
        
        <div class="card card-body text-bg-dark mt-5">
           <form>
                <label for="txtFecha" class="form-label text-capitalize">Fecha:</label>
                <input class="form-control" type="date" id="txtFecha" name="fecha">
                <input class="form-control" type="text" id="txtFactura" name="factura" placeholder="Numero de factura">
                <div class="form-group pt-2">
                    <button type="submit" class="btn btn-outline-info text-capitalize" >
                        Buscar
                    </button>
                </div>
           </form>
        </div>
        <div class="table-responsive-lg pt-4">
            <table class="table table-success table-striped caption-top">
                <caption class="text-capitalize">Lista de registros</caption>
                <thead class="table-dark">
                    <tr>
                        <td>N# Factura</td>
                        <td>Fecha</td>
                        <td>Total bs</td>
                        <td>Realizar Accion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for professor in professors: %}
                    <tr>
                        <td>{{ professor.first_name}}</td>
                        <td>{{ professor.last_name }}</td>
                        <td>{{ professor.city }}</td>
                        <td>{{ professor.address }}</td>
                        <td>{{ professor.salary }}</td>
                        <td>
                           <a href="/edit/{{professor.id}}" class="btn btn-outline-info" >Detalle</a>
                           <a href="/delete/{{professor.id}}" class="btn btn-outline-danger" >Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}